div.ready-accordion {
	border: dotted 2px #888;
	margin: 10px;
  padding: 0 10px 10px 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

div.ready-accordion h5.ready-accordion-header {
	border: dotted 1px #999;
  border-left: 0;
  border-right: 0;
  padding: 5px 0px 5px 24px;
  background: url(icons/accordion-button.png) 0px 2px no-repeat;
}
